[Unit]
Description=EDMWeb server

[Service]
ExecStart=/usr/bin/node /home/pi/ew.comm-server/server.js
Restart=always
RestartSec=10                       # Restart service after 10 seconds if node service crashes
StandardOutput=syslog               # Output to syslog
StandardError=syslog                # Output to syslog
SyslogIdentifier=ew.comm-server
WorkingDirectory=/home/pi/ew.comm-server
User=pi
#Group=<alternate group>
Environment=NODE_ENV=production PORT=8000

[Install]
WantedBy=multi-user.target

